.login {
  padding: 80px 0;
}

.login form {
  margin: 0 auto;
  max-width: 400px;
}

.logout {
  padding: 70px 0;
}

.logout form {
  margin: 0 auto;
  max-width: 100px;
}

.register {
  padding: 80px 0;
}

.register form {
  margin: 0 auto;
  max-width: 400px;
}

.registeralert {
  margin: 0 350px;
}

.create-post {
  padding: 80px 0;
}

.create-post form {
  margin: 0 auto;
  max-width: 700px;
}

.posts {
  padding: 90px 0;
}